<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Category Selection</title>
</head>
<body>

<h2>Which Category to View?</h2>

<form action="/card/allCards" method="get">
  <button type="submit">View All Cards</button>
</form><br>

<form action="/card/monsterCards" method="get">
  <button type="submit">View Monster Cards</button>
</form><br>

<form action="/card/spellCards" method="get">
  <button type="submit">View Spell Cards</button>
</form><br>

<form action="/card/trapCards" method="get">
  <button type="submit">View Trap Cards</button>
</form><br>


</body>
</html>
