<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <meta name="viewport"
          content="width=device-width",
          initial-scale="1.0">
    <title>Button Default</title>
</head>
<body>
    <div class="container">
        <h1>Sample Buttons</h1>
        <div class="container--flex">
            <a href="#" class="btn">Go to Page</a>
            <button class="btn">First CTA</button>
            <button class="btn">
                <span>Search</span>
            </button>
        </div>
    </div>
</body>
</html>