<!DOCTYPE html>
<html>
<head>
    <title>Main View Page</title>
    <link rel="stylesheet" href="buttonStyle.css">
</head>
<body>

<div style="text-align:center">
    <h2 class="hdr2">What would you like to view?</h2>

    <!-- Button for Redirect -->

    <a href="/card/BLMR" class="btn">Battles of Legend: Monstrous Revenge</a>

    <br>

    <a href="/card/BLCR" class="btn">Battles of Legend: Crystal Revenge</a>

    <br>

    <a href="/card/inputCustomPrefix" class="btn">View Custom Decks/Sets</a>

    <br>

    <a href="/mainPage" class="mainPageBtn">Back to Main Page</a>
</div>


</body>
</html>