<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Main View Page</title>
    <link rel="stylesheet" href="buttonStyle.css">
</head>

<body>

<h2 class="hdr2">What would you like to view?</h2>

<div>
    <!-- Button for Redirect -->

    <a href="/card/allCards" class="btn">All Card Info</a>

    <br>

    <a href="/card/monsterCards" class="btn">Monster Card Info</a>

    <br>

    <a href="/card/spellCards" class="btn">Spell Card Info</a>

    <br>

    <a href="/card/trapCards" class="btn">Trap Card Info</a>

    <br>
    <br>
    <br>
    <br>

    <a href="/searchCard" class="btn">Search for a Specific Card</a>

    <br>
    <br>
    <br>
    <br>

    <a href="/mainPage" class="mainPageBtn">Back to Main Page</a>
</div>

</body>

</html>