<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Main View Page</title>
    <link rel="stylesheet" href="buttonStyle.css">
</head>

<body>

<h2 class="hdr2">What would you like to view?</h2>
<br>
<br>
<br>
<div>
    <!-- Button for Redirect -->

        <a href="/viewCards" class="btn">View Cards</a>

    <br>

        <a href="/viewSets" class="btn">View Sets</a>

    <br>
    <br>
    <br>
    <br>
    <br>

        <a href="/mainPage" class="mainPageBtn">Back to Main Page</a>
</div>

</body>

</html>